APP_NAME=TNC-CMS
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080
APP_TIMEZONE=UTC

DB_DRIVER=sqlite
DB_PATH=storage/database.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cms
DB_USER=root
DB_PASS=

SESSION_NAME=cms_session
SESSION_LIFETIME=0
